<!DOCTYPE html>
<html>
  <head>
    <title>Create Teams</title>
  </head>
  <body>
    <a href="/results">View Results</a> <a href="/teams">View Teams</a>

    <h3>Sucessfully created new team!</h3>

    <h4>Country:</h4>
    <p><%= @team.name %></p>
  </body>
</html>


